- content_for :title, t(".page_title")

.p-4.lg:p-6.space-y-6
  = render ::UI::PageHeaderComponent.new(title: "Dashboard") do |header|
    = header.with_action do
      = render ::UI::ModalComponent.new(id: "add-game-dialog", title: t("common.add_game")) do |modal|
        = modal.with_trigger do
          = render ::UI::ActionComponent.new(variant: :primary,
            id: "add-game-btn",
            data: { action: "dialog#open" }) do |a|
            - a.with_leading_icon(name: "fa-plus")
            = t("common.add_game")

        = modal.with_body do
          = render "games/form", form_url: games_path, form_id: "add-game-form"

        = modal.with_footer do
          = render ::UI::ActionComponent.new(variant: :primary,
            size: :sm,
            type: :submit,
            form: "add-game-form") do
            = t("common.add_game")

  = turbo_frame_tag :now_playing, class: "block space-y-4" do
    = render "shared/now_playing"

  -# Stat cards
  .grid.grid-cols-2.gap-4.lg:grid-cols-4
    = turbo_frame_tag "game_stats", style: "display: contents" do
      = render "shared/game_stats", games_count: @games_count, games_without_save: @games_without_save

    = render ::UI::StatComponent.new(title: t(".storage_used"), value: number_to_human_size(@storage_used_bytes), description: t(".save_files")) do |stat|
      - stat.with_icon(name: "fa-hard-drive", class: "text-info fa-lg", fw: false)

    = render ::UI::StatComponent.new(title: t(".sync_events"), value: @sync_events_count) do |stat|
      - stat.with_icon(name: "fa-rotate", class: "text-secondary fa-lg", fw: false)
      - stat.with_action(href: activity_path)

  -# Main content
  .grid.grid-cols-1.gap-4.lg:grid-cols-3
    .lg:col-span-2
      = render "dashboard/recent_activity", recent_sync_events: @recent_sync_events

    .space-y-4
      = render "dashboard/top_games", top_games: @top_games
      = render "dashboard/systems", system_counts: @system_counts
