%div{ data: { controller: "dialog" } }
  = trigger
  %div{ id: @id, aria: { hidden: "true" }, data: { dialog_target: "container" }, class: "dialog-container" }
    .dialog-overlay{ data: { action: "click->dialog#close" } }
    %div{ class: content_classes }
      %div
        .flex.items-center.justify-between.mb-4
          %h2.text-base.font-semibold= @title
          = render ::UI::ActionComponent.new(variant: :ghost, class: "btn-circle", data: { action: "dialog#close" }, "aria-label": "Close") do |a|
            - a.with_leading_icon(name: "fa-xmark")
        = body
  - if page_content?
    = page_content
