- content_for :title, t(".page_title")

.p-4.lg:p-6.space-y-4
  = render ::UI::PageHeaderComponent.new(title: t(".title"))

  = render "settings/account", user: @user
  = render "settings/library_scan", user: @user, scan_paths: @scan_paths
  = render "settings/push_notifications"
  = render "settings/data"
  = render "settings/monitoring", user: @user
  = render "settings/theme", user: @user
