.flex.flex-wrap.items-start.justify-between.gap-3{ id: "game_header" }
  .flex.items-start.gap-3.min-w-0
    %div{ class: "w-16 shrink-0 aspect-3/4 rounded overflow-hidden bg-base-300" }
      - if game.cover_image.attached?
        = image_tag game.cover_image, class: "w-full h-full object-cover", alt: game.title
      - else
        .w-full.h-full.flex.items-center.justify-center.text-muted
          = render ::UI::IconComponent.new(name: "fa-gamepad", class: "text-lg")
    .min-w-0
      %h1.text-xl.font-bold
        = game.title
      = render ::UI::BadgeComponent.new(color: game.system_badge_color) do
        = game.system_label
  .flex.gap-2.shrink-0
    - if current_user.current_game_id == game.id
      = render ::UI::ActionComponent.new(href: current_game_path,
        method: :delete,
        variant: :primary,
        size: :sm,
        class: "btn-outline",
        params: { game_id: game.id }) do |a|
        - a.with_leading_icon(name: "fa-rotate")
        = "Now Playing"
    - else
      = render ::UI::ActionComponent.new(href: current_game_path,
        method: :patch,
        variant: :secondary,
        size: :sm,
        class: "btn-outline",
        params: { game_id: game.id }) do |a|
        - a.with_leading_icon(name: "fa-rotate")
        = "Set as current"

    = render ::UI::ModalComponent.new(id: "edit-game-dialog", title: "Edit Game") do |modal|
      = modal.with_trigger do
        = render ::UI::ActionComponent.new(variant: :secondary, data: { action: "dialog#open" }) do
          = "Edit"
      = modal.with_body do
        = render "games/form", form_url: game_path(game), form_id: "edit-game-form"
      = modal.with_footer do
        = render ::UI::ActionComponent.new(variant: :primary,
          size: :sm,
          type: :submit,
          form: "edit-game-form") do
          = "Save Changes"

    = render ::UI::ConfirmComponent.new(id: "remove-game-dialog",
      title: "Remove game?",
      message: "Remove #{game.title} from your library? This will also delete all saved versions.",
      url: game_path(game),
      method: :delete,
      trigger_label: "Remove",
      confirm_label: "Remove")
