- if @games.empty?
  = turbo_stream.update "games-list" do
    = render ::UI::EmptyStateComponent.new(title: "No games yet", description: "Add your first game to start syncing saves.") do |c|
      - c.with_action do
        = render ::UI::ActionComponent.new(variant: :primary, data: { action: "dialog#open" }) do |a|
          - a.with_leading_icon(name: "fa-plus")
          = "Add Game"
- else
  = turbo_stream.update "games-list", partial: "games/game_list", locals: { games: @games }

= turbo_stream.update "games-filters", partial: "games/filters", locals: { games_count: @games_count, system_options: @system_options, selected_system: nil, selected_sort: @selected_sort }
= turbo_stream.append "flash-container", ::Layouts::FlashComponent::Item.new(type: :notice, message: @notice_text)

- if @was_current
  = turbo_stream.update :quick_sync_content, partial: "shared/quick_sync_content"
