= form_with model: sp,
  url: scan_path_path(sp),
  method: :patch,
  html: { class: "space-y-4", data: { controller: "directory-browser" } } do |f|
  = f.label :path, t(".directory_label"), class: "block text-sm mb-1"
  .flex.items-center.gap-2
    = f.text_field :path, required: true, class: "input input-bordered input-sm flex-1 min-w-0 font-mono", data: { "directory-browser-target": "input" }
    = render ::UI::ActionComponent.new(variant: :ghost,
      class: "shrink-0",
      type: :button,
      data: { action: "click->directory-browser#toggle" }) do |a|
      - a.with_leading_icon(name: "fa-folder-open")
      = t(".browse")

  = render "games/paths/directory_browser"

  = f.label :game_system, t(".system_label"), class: "block text-sm mb-1"
  = f.select :game_system, ScanPath.game_system_options, {}, class: "select select-bordered w-full", required: true

  .pt-1
    = render ::UI::ActionComponent.new(variant: :primary,
      size: :sm,
      type: :submit) do
      = t(".submit")
