= turbo_stream.action :close_dialog, "library-modal"
= turbo_stream.replace "profiles_list", partial: "emulator_profiles/profiles_list", locals: { selected_by_system: @selected_by_system, in_use_systems: @in_use_systems }
= turbo_stream.update "page_header", partial: "emulator_profiles/page_header"
= turbo_stream.update "onboarding-banner" do
  = render "shared/onboarding_banner",
    step: 1,
    title: t("common.select_emulators_title"),
    description: t("common.select_emulators_description"),
    next_path: (onboarding_games_path if EmulatorProfile.user_selected.exists?),
    next_label: t("common.next_add_games")
= turbo_stream.append "flash-container", ::Layouts::FlashComponent::Item.new(type: :notice, message: t(".success"))
