.stat.bg-base-100.border.border-base-300.rounded-lg
  .stat-title.flex.items-center{ class: "gap-1.5" }
    - if icon?
      = icon
    = @title
  .stat-value.text-2xl{ class: @value_color }
    = @value
  - if @description || action?
    .stat-desc
      - if action?
        = action
      - else
        = @description
