!!!
%html{ lang: "en", "data-theme": "dracula" }
  %head
    %title= content_for(:title) || "EmuVault"
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1,viewport-fit=cover" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-title", content: "EmuVault" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }
    %meta{ name: "application-name", content: "EmuVault" }
    %meta{ name: "mobile-web-app-capable", content: "yes" }
    %meta{ name: "theme-color", content: "#282a36" }
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{ rel: "icon", href: "/icon.png", type: "image/png" }
    %link{ rel: "icon", href: "/icon.svg", type: "image/svg+xml" }
    %link{ rel: "apple-touch-icon", href: "/icon.png" }
    %link{ rel: "manifest", href: "/manifest.json" }
    %link{ rel: "stylesheet", href: "/fontawesome/css/all.min.css" }

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    - if @show_onboarding
      %link{ rel: "stylesheet", href: "/driver/driver.css" }

    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    = render ::Layouts::FlashComponent.new(flash: flash)

    - if authenticated?
      = render ::Layouts::AppShellComponent.new(current_path: request.path, onboarding: @show_onboarding) do |shell|
        - shell.with_content_body do
          = yield
    - else
      = yield
