!!!
%html{ lang: "en", "data-theme": "dracula" }
  %head
    %title
      = content_for(:title) || "EmuVault"
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1,viewport-fit=cover" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "theme-color", content: "#282a36" }
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: "icon", href: "/icon.png", type: "image/png" }
    %link{ rel: "manifest", href: "/manifest.json" }
    = stylesheet_link_tag "/fontawesome/css/all.min.css"
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  %body.flex.flex-col.overflow-hidden.bg-base-200{ style: "height: 100dvh" }
    = render ::Layouts::FlashComponent.new(flash: flash)
    = yield
